@import url('https://fonts.googleapis.com/css2? family= Heebo:wght@100;200;300;400;500;600;700;800;900 & family= Poppins:ital, peso@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900 & display=swap'); //fonte
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"); //icones

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

$colorTexto: #333333;
$corPrincipal: #FB6376;

header {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    position: fixed;
    top: 0;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);

    img {
        height: 80px;
    }

    nav {
        ul {
            list-style: none;

            li {
                display: inline-block;
                margin-right: 25px;

                a {
                    color: $colorTexto;
                    text-decoration: none;
                    transition: 300ms ease;

                    &:hover {
                        color: darken($corPrincipal, 30%);
                    }
                }
            }
        }
    }
}

a.pedidos {
    background-color: $corPrincipal;
    height: 40px;
    width: 165px;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 4px;

    &:hover {
        background-color: darken($corPrincipal, 10%);
        color: #FFF;
    }
}

main {
    #mae {
        background: url('/imagens/fundo.png') center center/cover;
        height: 90vh;
        width: 100vw;

        #filha {
            height: 100%;
            width: 100%;
            background: linear-gradient(90deg, $corPrincipal 0%, rgba(251, 99, 118, 0.00) 100%);
            display: flex;
            align-items: center;

            div {
                padding-left: 10%;

                h1 {
                    color: #FFF;
                    font-size: 70px;
                    font-weight: 700;
                }

                p {
                    font-size: 30px;
                    color: #fff;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                button {
                    padding: 10px;
                    border: none;
                    border-radius: 4px;
                    background-color: $corPrincipal;
                    color: white;
                    cursor: pointer;
                    transition: 300ms ease;

                    &:hover {
                        background-color: darken($corPrincipal, 10%);
                    }

                    i {
                        margin-right: 2px;
                    }

                }

            }
        }

    }
}

.header2 {
    background-color: white;
    margin-top: 3em;
    padding: 15px;
    overflow: auto;

    h3 {
        margin-left: 40%;
    }

    p {
        width: 108px;
        height: 2px;
        flex-shrink: 0;
        stroke-width: 12px;
        background-color: #FB6376;
        margin-left: 40%;
        margin-top: 5px;
        margin-bottom: 30px;
    }

}

.card {
    margin-left: 2em;
    display: inline-block;
}

.card img {
    width: 21vw;
    height: 350px;
    display: block;
}

.card1
.card2 .card3 .card4 {
    margin-right: 3em;
    display: inline-block;
}

.card p {
    background-color: $corPrincipal;
    opacity: 90%;
    width: 21vw;
    color: white;
    padding: 1em;
    margin: 0;
    display: flex;

}

.header3 {
    background-color: white;
    margin-top: 5em;
    
    overflow: auto;
    

    h3 {
        margin-left: 40%;
    }
    p {
        width: 108px;
        height: 2px;
        flex-shrink: 0;
        stroke-width: 12px;
        background-color: #FB6376;
        margin-left: 40%;
        margin-top: 5px;
        margin-bottom: 30px;
    }
}

.cards2 {
    margin-left: 47px;
    display: inline-block;
    margin-right: -45px;
}


.cards2 img {
    width: 578px;
    height: 377px;
    border-radius: 8px;
    
}

.header4 {
    background-color: white;
    margin-top: 40px;
    padding: 15px;
    overflow: auto;
    

    h3 {
        margin-left: 40%;
    }
    p {
        width: 70px;
        height: 2px;
        flex-shrink: 0;
        stroke-width: 12px;
        background-color: #FB6376;
        margin-left: 40%;
        margin-top: 5px;
        margin-bottom: 30px;
    }
}


.SobreNos{
    width: 100vw;
    height: 80vh;
    margin-top: 2%;

    .imagem-sobreNos{
        float: left;
        width: 50vw;
        border: solid 1px red;

    .imagemaqui{
        width: 20vw;
        height: 60vh;
        margin-left: 40%;
       

        img{
            width: 100%;
            height: 100%;
           
        }
    }
    }

    .inforSobreNos{
    float: right;
    width: 50vw;
    text-align: center;
    border: solid 1px blue;
    

}

}

