@import url("https://fonts.googleapis.com/css2? family= Heebo:wght@100;200;300;400;500;600;700;800;900 & family= Poppins:ital, peso@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900 & display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

header {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  position: fixed;
  top: 0;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
}
header img {
  height: 80px;
}
header nav ul {
  list-style: none;
}
header nav ul li {
  display: inline-block;
  margin-right: 25px;
}
header nav ul li a {
  color: #333333;
  text-decoration: none;
  transition: 300ms ease;
}
header nav ul li a:hover {
  color: #c0051c;
}

a.pedidos {
  background-color: #FB6376;
  height: 40px;
  width: 165px;
  padding: 10px;
  color: #FFFFFF;
  border-radius: 4px;
}
a.pedidos:hover {
  background-color: #fa314a;
  color: #FFF;
}

main #mae {
  background: url("/imagens/fundo.png") center center/cover;
  height: 90vh;
  width: 100vw;
}
main #mae #filha {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #FB6376 0%, rgba(251, 99, 118, 0) 100%);
  display: flex;
  align-items: center;
}
main #mae #filha div {
  padding-left: 10%;
}
main #mae #filha div h1 {
  color: #FFF;
  font-size: 70px;
  font-weight: 700;
}
main #mae #filha div p {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
}
main #mae #filha div button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #FB6376;
  color: white;
  cursor: pointer;
  transition: 300ms ease;
}
main #mae #filha div button:hover {
  background-color: #fa314a;
}
main #mae #filha div button i {
  margin-right: 2px;
}

.header2 {
  background-color: white;
  margin-top: 3em;
  padding: 15px;
  overflow: auto;
}
.header2 h3 {
  margin-left: 40%;
}
.header2 p {
  width: 108px;
  height: 2px;
  flex-shrink: 0;
  stroke-width: 12px;
  background-color: #FB6376;
  margin-left: 40%;
  margin-top: 5px;
  margin-bottom: 30px;
}

.card {
  margin-left: 2em;
  display: inline-block;
}

.card img {
  width: 21vw;
  height: 350px;
  display: block;
}

.card1 .card2 .card3 .card4 {
  margin-right: 3em;
  display: inline-block;
}

.card p {
  background-color: #FB6376;
  opacity: 90%;
  width: 21vw;
  color: white;
  padding: 1em;
  margin: 0;
  display: flex;
}

.header3 {
  background-color: white;
  margin-top: 5em;
  overflow: auto;
}
.header3 h3 {
  margin-left: 40%;
}
.header3 p {
  width: 108px;
  height: 2px;
  flex-shrink: 0;
  stroke-width: 12px;
  background-color: #FB6376;
  margin-left: 40%;
  margin-top: 5px;
  margin-bottom: 30px;
}

.cards2 {
  display: flex;
  margin-right: 0.5em;
  margin-left: 1.6em;
}

.cards2 img {
  width: 29vw;
  height: 60vh;
  border-radius: 8px;
}

.header4 {
  background-color: white;
  margin-top: 40px;
  padding: 15px;
  overflow: auto;
}
.header4 h3 {
  margin-left: 40%;
}
.header4 p {
  width: 4vw;
  height: 2px;
  flex-shrink: 0;
  stroke-width: 12px;
  background-color: #FB6376;
  margin-left: 40%;
  margin-top: 5px;
  margin-bottom: 30px;
}

.SobreNos {
  

  .div-video video{
    width: 20vw;
    height: 60vh;
    border-radius: 5px ;
  }

  .InforSobreNos{
    cursor: default;
  }

}

