@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

header {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0.1em 0.9em #464646;
  width: 100vw;
  position: fixed;
  z-index: 99999999;
  backdrop-filter: blur(10px);
}

.logo img {
  width: 100%;
  margin: 0em 3em;
  max-width: 4em;
}

header img {
  width: 100%;
  max-width: 5em;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  margin-right: 4em;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 0.5em;
}

.nav-link {
  font-size: 1rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: "Heebo", sans-serif;
  transition: 300ms ease;
}

.nav-link:hover {
  color: #fa314a;
  font-weight: bold;
}

a.pedidos {
  background-color: #fa314a;
  height: 40px;
  padding: 10px;
  margin-left: 1em;
  color: #FFFFFF;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1rem;
}

a.pedidos:hover {
  background-color: #fa314a;
  color: #FFF;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu-icon img{
  width: 2em;
}


.mobile-menu {
  display: none;
}

main #mae {
  background: url("../imagens/fundo.png") center center/cover;
  height: 90vh;
  width: 100vw;
}

main #mae #filha {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #FB6376 0%, rgba(251, 99, 118, 0) 100%);
  display: flex;
  align-items: center;
}

main #mae #filha div {
  padding-left: 10%;
}

main #mae #filha div h1 {
  color: #FFF;
  font-size: 70px;
  font-weight: 700;
}

main #mae #filha div p {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
}

main #mae #filha div button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #FB6376;
  color: white;
  cursor: pointer;
  transition: 300ms ease;
}

main #mae #filha div button:hover {
  background-color: #fa314a;
}

main #mae #filha div button i {
  margin-right: 2px;
}

.segunda {
  width: 100vw;
}

.header2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  font-size: 1em;
}

.header2 h3 {
  color: #FB6376;
}

.barra {
  background-color: #FB6376;
  width: 5em;
  height: 0.2em;
  margin-right: 3.5em;
  margin-bottom: 4em;
  margin-top: 1em;
}

.container-image {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.container-image img {
  width: 100%;
  max-width: 36vw;
  max-height: 39vh;
}

.barra-2 {
  background-color: #FB6376;
  width: 3em;
  height: 0.2em;
  margin-right: 2.3em;
  margin-bottom: 4em;
  margin-top: 1em;
}

.card1 {
  margin-left: 1em;
  width: 13em;
  overflow: hidden !important;
  transition: 300ms ease;
}

.card1:hover{
  transform: scale(1.1);
}

.card1 p {
  color: #FFF;
  background-color: #fa314a;
  padding: 0.6em;
  margin-top: -0.3em;
}

.terceira {
  padding: 1px;
  width: 100vw;
  background-color: #f5f5f5;
}

.container-image2 {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container-image2 img {
  object-fit: cover;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.card2{
  margin-left: 1em;
  width: 300px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 35px;
}

.quarta {
  width: 100vw;
  height: 80vh;
}

.SobreNos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.SobreNosImage img {
  width: 100%;
  max-width: 40vw;
  max-height: 60vh;
  border-radius: 0.5em;
}

.InforSobreNos {
  padding-left: 2em;
}

.InforSobreNos h1 {
  color: #d43144;
  font-size: 2em;
}

.InforSobreNos p {
  text-align: justify;
  width: 30vw;
}

.quinta {
  width: 100vw;
  height: 80vh;
}

.barra-3 {
  background-color: #FB6376;
  width: 3em;
  height: 0.2em;
  margin-right: 3.5em;
  margin-bottom: 4em;
  margin-top: 1em;
}

.header-loc {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  font-size: 1em;
}

.container-mapa {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-border {
  width: 79vw;
  border: 1px solid rgb(114, 110, 110);
  border-radius: 0.2em;
}

.container-mapa iframe {
  width: 100%;
  width: 78vw;
  height: 60vh;
}

footer {
  margin-top: 4em;
  width: 100vw;
  height: auto;
  display: flex;
  background-color: #dbc6c9;
  flex-direction: column;
}

.rodape {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 5em;
}

.endereco,
.funcionamento,
.sociais {
  width: 25%; /* Cada coluna ocupa 30% do espaço no rodapé */
}

.sociais a i {
  font-size: 1.3em;
  color: white;
  background-color: #fe607a;
  text-decoration: none;
  padding: 0.35em 0.60em;
  border-radius: 360%;
  margin: 0.1em;
}

.Nutricionista img {
  width: 100%;
  max-width: 25vw;
  max-height: 25vh;
}

footer h4 {
  text-decoration: none;
  color: #fe607a;
  margin-bottom: 1em;
}

footer p{
    font-size: 0.9em; /* Alterado tamanho da fonte dos parágrafos */
}

.direitos-autorais {
  font-weight: 500 ;
  display: flex;
  justify-content: center;
  padding-bottom: 6em;
}


@media screen and (max-width: 948px) {

  .header {
    padding: 0;
    margin: 0;
  }
  .logo {
    display: flex;
    align-items: center;
    margin: 0;
  }
  .nav-bar {
    margin: 0;
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
  }

  .nav-item {
    display: none;
  }

  .mobile-menu-icon {
    display: flex;
  }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 0;
  }

  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }

  .mobile-menu button {
    width: 100%;
  }

  .open {
    display: block;
  }

  .SobreNos{
    flex-direction: column;
  }
  
  .InforSobreNos p {
    text-align: justify;
    width: 40vw;
  }

  .container-image{
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .container-image img{
   max-width: 40em;
   max-height: 25em;
  }

  .header-loc{
    margin-top: 15em;
  }

  .card1{
    margin-bottom: 35px;
  }

  .rodape {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding: 2em;
  }

  .endereco,
  .funcionamento,
  .sociais, .Nutricionista {
      width: 100%; /* Each column occupies 100% on small screens */
  }

  .sociais a i {
      font-size: 1.3em;
      color: white;
      background-color: #fe607a;
      text-decoration: none;
      padding: 0.35em 0.60em;
      border-radius: 360%;
      margin: 0.1em;
  }

  footer h4 {
      text-decoration: none;
      color: #fe607a;
      margin-bottom: 1em;
  }

  footer p {
      font-size: 0.9em;
      margin-bottom: 1em;
  }

  .direitos-autorais {
      color: #030303;
      display: flex;
      justify-content: center;
    }
  .nav-list {
      display: none;
  }

  .mobile-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #fffefe;
      position: absolute;
      top: 90px;
      right: 0;
      width: 100%;
      text-align: center;
      box-shadow: 0 0.5em 0.5em #464646;
      z-index: 1;
      display: none;
  }

  .mobile-menu ul {
      padding: 1rem;
      list-style: none;
  }

  .mobile-menu .nav-item {
      margin: 1rem 0;
      display: block;
  }

  .open {
      display: flex;
  }
}
